webdav-backup:
  build: .
  volumes:
    - "./test:/data"
  environment:
    - WEBDAV_HOST=XXX
    - WEBDAV_USERNAME=XXX
    - WEBDAV_PASSWORD=XXX
    - ENCRYPTION=true
    - ENCRYPTION_PASSWORD=test
    - SPLIT=true
    - SPLIT_SIZE=1K
    - BACKUP_NBR=3
    - DESTINATION_FOLDER=Test
    - CRON=false
    - CRON_SCHEME="* * * * *"
